<div class="message-item-photo" data-role="user-avatar" data-user="{{from}}" style="background-image: url(/socket-chat/photos/{{from}}.png?t={{date}})"></div>
<div class="message-item-content">
  <div class="message-item-sender">{{from}}</div>
  <div class="message-item-header-time">{{time}}</div>
  <div class="message-item-text">{{text}}</div>
</div>